.ShopItem {
  display: flex;
  flex-direction: row;
  padding: 24px;
  margin: 12px;
  background-color: white;
  border-radius: 8px;
}

.shop-item-text {
  display: flex;
  flex-direction: column;
  padding-inline-start: 24px;
}

.shop-item-text div {
  padding: 8px;
}

.ShopItem img {
  width: 40vw;
  height: 30vw;
  object-fit: cover;
  border: 1px solid black;
}
