.ShopItem {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.shop-item-text {
  display: flex;
  flex-direction: column;
}

.shop-item-text div {
  padding: 8px;
}

.ShopItem img {
  width: 40vw;
  height: 30vw;
  object-fit: cover;
  border: 1px solid black;
}
