.Swatches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding: 8px;
}

.Swatches:hover {
  cursor: default;
}

.swatch-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swatch {
  width: 80px;
  height: 60px;
}

.swatch:hover {
  cursor: pointer;
}

.pad {
  padding-bottom: 8px;
}
